#footer {
    left:  0;
    bottom:  0;
    width:  100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding:  10px;
  }
  
  #footer a {
    color: white;
    text-decoration: none;
  }